<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.newtrekwang.module_custom_widget">
    <application>
        <activity android:name="me.newtrekwang.module_custom_widget.CustomWidgetMainActivity"/>
    </application>
</manifest>