<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.newtrekwang.gankio">
    <application
        >
        <activity android:name=".business.main.GankIOMainActivity"/>
        <activity android:name=".business.webbrowser.GankWebBrowserActivity"/>
    </application>
</manifest>