<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.newtrekwang.av">

    <application>
        <activity android:name=".AvMainActivity"/>
        <activity android:name=".imageprocess.ImageProcessActivity"/>
    </application>

</manifest>